$boxWidth: 400px;
$boxBorder: 5px solid lightgrey;
.container {
	
	.boxOne{
		width:$boxWidth;
		border: $boxBorder;
	}

	.boxTwo{
		width:$boxWidth;
		border: $boxBorder;
	}
	.boxThree{
		width:$boxWidth;
		border: $boxBorder;
		
	}

	.boxThreeTop{
		height:75px;
		background-color: lightgrey;
	}
}//container close brace
// .hide p {
// 	text-indent: 100%;
//     white-space: nowrap;
//     overflow: hidden;
// 		}

// .hide {
// 	text-indent: 100%;
//     white-space: nowrap;
//     overflow: hidden;
// }
